.moveToUpWrap {
  position: relative;
}
.moveToUp {
  position: absolute;
  position: fixed;
  width: 120px;
  bottom: 35px;
  right: 200px;
  cursor: pointer;
  z-index: 9999;
}


@media (max-width: 600px){
  .moveToUp{
    width: 50px;
    right: 5px;
    bottom: 50px;
  }
}